# Copy to .env.testing and fill in your Local by Flywheel values
DB_HOST=127.0.0.1
DB_PORT=10004
DB_NAME=local
DB_USER=root
DB_PASSWORD=root
DB_TABLE_PREFIX=wp_
WP_URL=http://localhost:10003
WP_DOMAIN=plugin-developers
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
WP_ROOT_FOLDER=/path/to/local-sites/plugin-developer/app/public
