<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap-brain-monkey.php"
    colors="true"
    verbose="true">

    <testsuites>
        <testsuite name="BrainMonkey">
            <directory suffix="Test.php">./tests/brain-monkey</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
    </coverage>

    <php>
        <const name="WP_DEBUG" value="true"/>
    </php>
</phpunit>
